    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('main.user',
                username=comment.author_comment.username) }}">

                </a>
            </td>
            <td>
                <a href="{{ url_for('main.user',
                username=comment.author_comment.username) }}">
                    {{ comment.author_comment.username}}
                </a>
                сказал {{ moment(comment.timestamp).fromNow() }}:
                <br>
                {{ comment.body }}
            </td>
        </tr>
    </table>