{% extends "base.html" %}

{% block app_content %}
<H2>Как вижу форму представления Упражнения</H2>
<h3>Приседания</h3>
<br>
Демо видео

<br>
Описание исходного положения
<li>Ноги на ширине плеч (пятки прямо под плечами),
    носки слегка разверните наружу </li>
<li>Вес на середине стопы распределен между пятками,
    фалангами больших пальцев и мизинцев
</li>
<br>
Выполнение
<li>нейтральное положение позвоночника
    (спина прямая, то есть сохраняются естественные прогибы) </li>
<li>таз отведите назад, а затем – вниз, как будто желаете сесть на стул.</li>
<li>во время отведения таза назад и вниз, убедитесь, что колени остаются
    в плоскости ступней; не заваливаетесь на носки.</li>
<li>если нет болевых ощущений, то продолжайте опускаться до тех пор, пока ось вращения
    бедра не окажется ниже коленной чашечки (полная глубина) </li>
<li>достигнув полной глубины, выпрямитесь до полного
    разгибания бедер и колен, давите в пол всей ступней.</li>
<br>


{% endblock %}