{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<h2>Форма представления Тренировки дня</h2>

<br>
        <a href="{{ url_for('main.wods')}} ">
            К списку тренировок</a>
<br>
<div class="alert alert-$red200">
    <h3>{{ detail.date_posted.date() }}</h3>

    <br>
    <h4>Разминка</h4>
    {{ detail.warm_up | safe }}
    <br>
    <br>
    <h4>Комплекс</h4>
    {{ detail.workout | safe }}
    <br>
    <br>
    <h4>Примечание</h4>
    {{ detail.description | safe }}

<br>
    {{ wtf.quick_form(result_form) }}
    <br>
    <p> Твой последний результат в этом комплексе : {{ results.result }}</p>
    <br>

</div>
<br>
    {% if comment_form %}
    {{ wtf.quick_form(comment_form) }}
    <br>
    {% endif %}
    {% for comment in comments %}
        {% include 'main/_comment.html' %}
    {% endfor %}


{% endblock %}