{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}


<br>
        <a href="{{ url_for('wod_bp.wods')}} ">
            К списку тренировок</a>
<br>
<a href="#">Статистика комплекса</a>
<br>
<div class="alert alert-$red200">
    <h3>{{ detail.date_posted.date() }}</h3>

    <br>
    <h4>Разминка</h4>
    {{ detail.warm_up | safe }}
    <br>
    <br>
    <h4>Комплекс</h4>
    {{ detail.workout | safe }}
    <br>
    <br>
    <h4>Примечание</h4>
    {{ detail.description | safe }}

    <br>
    <br>
    {% if detail.type_result == 0 %}
        {% if results.confirm == True %}
            <p> Статус комплекса : Выполнено</p>
        {% else %}
            {{ wtf.quick_form(result_bool_form) }}
    <br>
            <p> Статус комплекса : Надо бахнуть</p>
        {% endif %}
    <br>

<br>
    {% elif detail.type_result == 1 %}
    {{ wtf.quick_form(result_rep_form) }}
    <br>
    <p> Твой последний результат в этом комплексе : {{ results.result}}</p>
    <br>
<br>
    {% elif detail.type_result == 2 %}
    {{ wtf.quick_form(result_time_form) }}
    <br>
    <p> Твой последний результат в этом комплексе : {{ results.minutes}} : {{ results.seconds}} </p>
    {% endif %}
    <br>

    <br>

</div>
<br>
    {% if comment_form %}
    {{ wtf.quick_form(comment_form) }}
    <br>
    {% endif %}
    {% for comment in comments %}
        {% include 'main/_comment.html' %}
    {% endfor %}


{% endblock %}