{% extends "base.html" %}

{% block app_content %}
<h2>Список Тренировок</h2>

<br>
Нужен поиск: год / месяц
<br>
Нужно красивое оформление
<br>
<li>Тренировки кликабельны и выводятся в порядке убывания</li>
<li>Выводит на лист первые 10 тренек</li>
<li>В хотелках количество комментов и галочек выполнено</li>
<br>
    {% for wod in wods_list %}
        <div class="alert alert-info">
        <a href="{{ url_for('wod_bp.wod_detail',
        id=wod.id) }} ">
            {{ wod.date_posted.date() }}</a>
        </div>
<br>


    {% endfor %}
<br>

{% endblock %}