<p>Dear {{ user.username }},</p>
<p>
    Для восстановления пароля
    <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
        Тык сюда
    </a>.
</p>
<p>Вы сделали запрос на получение забытого пароля. Чтобы получить новый пароль, пройдите по ссылке ниже:</p>
<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
<p>Если вы не делали запрос для получения пароля, то просто удалите данное письмо.</p>
<p>Ваш пароль храниться в надежном месте и не доступен посторонним лицам.</p>
<p>С уважением,</p>
<p>Нескучный спорт</p>