{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Привет, кАтлет! {{ current_user.username }}</h1>

<H2>Как вижу форму представления трениовк на главной</H2>

Скорей всего это 3 тренировки.
<br>Возможно, одна большая( "ПОСЛДЕНЯЯ" из опубликованных)
и снизу 2 маленьких( "СЛЕДУЮЩИЕ" из опубликованных)
<br>
<h3>Описание в тренировках:</h3>
<br>
дата публикации
фото/ гифка / видео стоп кадр? (что легче реализовать?)
подробнее (ссылка)



{% endblock %}
