{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h1>Привет, кАтлет! {{ current_user.username }}</h1>

    <H2>Главная</H2>

Список из 3-х последних тренировок
<br>Возможно, одна большая( "ПОСЛДЕНЯЯ" из опубликованных)
и снизу 2 маленьких( "СЛЕДУЮЩИЕ" из опубликованных)
<br>

<br>
    {% for wod in wods %}
    <div class="alert alert-info">
        <h3>{{ wod.wod_name | safe }}</h3>
        <br>
        <h4>Разминка</h4>
        {{ wod.warm_up | safe }}
        <br>
        <h4>Комплекс...</h4>
        <br>
        Коментов оставлено:
        <br>
        <button class="btn-warning">
        <a href="{{ url_for('main.wod_detail',
        id=wod.id) }} ">подробнее</a></button>
    </div>


    {% endfor %}
<br>

{% endblock %}

